@(title: String)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="sparkmind">
    <head>
        <title>Sparkmind - @title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="index, nofollow">
        <meta name="viewport" content="initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="e-learning,adaptive learning">

            <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public", "images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/main.css")">
        <noscript>
            <link rel="stylesheet" href="@routes.Assets.at("/public/css", "skel.css")" />
            <link rel="stylesheet" href="@routes.Assets.at("/public/css", "style.css")" />
            <link rel="stylesheet" href="@routes.Assets.at("/public/css", "style-desktop.css")" />
        </noscript>

        <script src="@routes.Assets.at("/public", "javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.at("/public", "javascripts/jquery.dropotron.min.js")"></script>
        <script src="@routes.Assets.at("/public", "javascripts/skel.min.js")"></script>
        <script src="@routes.Assets.at("/public", "javascripts/skel-layers.min.js")"></script>
        <script type='text/javascript' src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>

        <script src="@routes.Assets.at("/public", "javascripts/init.js")"></script>

            <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    </head>
    <body class="homepage">
        @content
    </body>
</html>
