@(loginForm: Form[LoginData], signUpForm: Form[SignUpData])


@main("Login") {

    <!-- Header -->
    <div id="header-wrapper">
        <div id="header">

                <!-- Logo -->
            <h1><a href="/home">Sparkmind</a></h1>

                <!-- Sign in/up -->
            <section id="intro" class="container">
                <div class="row">
                    <div class="4u">
                        <section class="first">
                            <header>
                                <h2>Sign In</h2>
                            </header>
                            @helper.form(action = routes.Application.doLogin()) {
                                @helper.inputText(loginForm("userId"), '_label -> "Username or e-mail", '_showConstraints -> false)
                                @helper.inputPassword(loginForm("password"), '_label -> "Password", '_showConstraints -> false)
                                <input type="submit" name="button-login" id="button-login" value="Sign in"/>
                            }
                        </section>
                    </div>
                    <div class="4u">
                        <section class="middle">
                            <header>
                                <h2>Sign Up</h2>
                            </header>
                            <p>If you don't have an account yet, you can request one here.</p>
                            @helper.form(action = routes.Application.doSignUp()) {
                                @helper.inputText(signUpForm("firstName"), '_label -> "First name", '_showConstraints -> false)
                                @helper.inputText(signUpForm("email"), '_label -> "e-mail", '_showConstraints -> false)
                                @helper.inputPassword(signUpForm("password"), '_label -> "Password", '_showConstraints -> false)
                                <input type="submit" name="bottom-sign-up" id="button-sign-up" value="Sign up"/>
                            }
                        </section>
                    </div>
                </div>
            </section>

        </div>
    </div>

}

