@(title: String)(content: Html)

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Spakmind - @title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="index, nofollow">
        <meta name="apple-mobile-web-app-capable" content="yes"/>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- Stuff from axshare -->
        <link href="@routes.Assets.at("stylesheets/axshare/axure_rp_page.css")" type="text/css" rel="stylesheet"/>
        <link href="@routes.Assets.at("stylesheets/axshare/data_styles.css")" type="text/css" rel="stylesheet"/>
        <link href="@routes.Assets.at("stylesheets/axshare/styles.css")" type="text/css" rel="stylesheet"/>
        <script src="@routes.Assets.at("javascripts/axshare/jquery-1.7.1.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/jquery-ui-1.8.10.custom.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/axQuery.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/globals.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/axutils.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/annotation.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/axQuery.std.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/doc.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/document.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/messagecenter.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/events.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/action.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/expr.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/geometry.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/flyout.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/ie.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/model.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/repeater.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/sto.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/utils.temp.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/variables.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/drag.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/move.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/visibility.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/style.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/adaptive.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/tree.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/init.temp.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/data.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/legacy.js")"></script>
        <script src="@routes.Assets.at("javascripts/axshare/viewer.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
